<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            BoOn-首页
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/bootstrap.min.css") }}">
    {% block head %}

    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('qa.index') }}">BoOn</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% block indexactive %} {% endblock %}" aria-current="page"
                       href="{{ url_for('qa.index') }}">首页</a>
                </li>
                <li class="nav-item {% block publish %} {% endblock %}">
                    <a class="nav-link" href="#">发布</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        专区
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">视频</a></li>
                        <li><a class="dropdown-item" href="#">微博</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item ms-3">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="请输入搜索内容" aria-label="Search">
                        <button class="btn btn-outline-success w-25" type="submit">搜索</button>
                    </form>
                </li>
            </ul>
            <ul class="navbar-nav">
                <form class="d-flex">
                    <li class="nav-item me-1">
                        <a class="nav-link {% block loginactive %}{% endblock %}"
                           href="{{ url_for('user.login') }}">登录</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block registeractive %}{% endblock %}"
                           href="{{ url_for('user.register') }}">注册</a>
                    </li>
                </form>
            </ul>

        </div>
    </div>
</nav>

<div class="container">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
</div>

<div class="container">
    {% block content %}

    {% endblock %}
</div>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="{{ url_for('qa.index') }}" class="nav-link px-2 text-muted">首页</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">发布</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">专区</a></li>
            <li class="nav-item"><a href="{{ url_for('user.register') }}" class="nav-link px-2 text-muted">注册</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">关于</a></li>
        </ul>
        <p class="text-center text-muted">© 2022 BoOn</p>
    </footer>
</div>
</body>
</html>