{% extends 'base.html' %}

{% block title %}
    BoOn-首页
{% endblock %}

{% block indexactive %}
    active
{% endblock %}

{% block content %}
    <h1>首页</h1>
    {% for post in posts %}
        <a href="{{ url_for("qa.question_detail",id=post.qid) }}">
            <h2>{{ post['title'] }}</h2>
        </a>
        <span class="badge bg-primary">{{ post['updatetime'] }}</span>
        <span class="badge bg-primary">{{ post['author'] }}</span>
        <a href="#">
            <span class="badge bg-warning">编辑</span>
        </a>
        <hr>
    {% endfor %}
{% endblock %}