<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
<form action="/login" method="post">
    <table>
        <tbody>
        <tr>
            <td>邮箱：</td>
            {#            <label for="email">邮箱</label>#}
            <td><input type="text" name="email"></td>
        </tr>
        <tr>
            <td>密码：</td>
            {#            <label for="password">密码</label>#}
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button>登陆</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>